@{
    ViewBag.Title = "商品管理系统";
    var goods = ViewBag.goods;
}
<script>
    function del(id) {
        if (confirm("确定删除吗?")) {
            $.post("/Default/Delete/" + id, null,
                function success(data) {
                    if (data == "ok") {
                        alert("删除成功");
                        window.location.href = "/Default/Index";
                    }
                    else {
                        alert("参数错误");
                    }
                })
        }
    }
</script>

<h2>Index</h2>
<table border="1" style="background-color:aqua" width="100%">
    <thead>
        <tr>
            <th>编号</th>
            <th>商品名称</th>
            <th>编辑</th>
        </tr>
    </thead>
    @foreach (var data in goods)
    {
        <tr>
            <td>
                @data.GoodsID
            </td>
            <td>
                @data.GoodsName
            </td>
            <td>
                <a>编辑</a>
                <a>删除</a>
            </td>
        </tr>
    }
</table>